* {
  box-sizing: border-box;
}
body,html {
  height: 100%;
  width: 100%;
  font-family: Helvetica, sans;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 1.5em;
  margin-bottom: 0;
}
h2 {
  margin: 0;
  font-size: 0.8em;
}
h3, h4,
strong {
  color: #A50062;
}
h3 {
  border-bottom: 1px solid #A50062;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.header {
  padding: 1em;
  text-align: center;
  color: #fff;
  background-color: #A50062;
  /* background-image: url(../Lesbian_Pride_Flag_2019.svg); */
  /* background-size: contain; */
}

.yearRangeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#yearRangeInput {
  flex: 1;
}
#yearRangeOutput {
  width: 4em;
  text-align: center;
  color: #999999;
}

.content-container {
  width: 100%;
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-container {
  width: 100%;
  overflow: scroll;
}
.text {
  padding: 0 1em 1em 1em;

  text-align: justify;
  line-height: 1.4em;
}
.text hr {
  border: 1px solid #A50062;
}

.map-container {
  min-height: 40vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#map {
  height: 100%;
  width: 100%;
}

.chart-container-float {
  float: right;
}
.chart-container-center {
  margin: 2em auto;
  max-width: 300px;
}
.chart-title {
  text-align: center;
}
.chart-source {
  font-size: 0.6em;
  line-height: 1.0em;
  text-align: center;
}

@media(min-width:600px) {
  .content-container {
    flex-direction: row;
  }
  .text-container {
    height: 100%;
  }
  .map-container {
    height: 100%;
    padding: 1em 0 1em 1em;
  }
}
